GPATH
GRTAGS
GSYMS
GTAGS
*.cmd
*.d
*.dmp
*.elf
*.lds
*.map
*.o
*.swp
*.ta
cscope.*
out/
hello_world/host/optee_example_hello_world
random/host/optee_example_random
aes/host/optee_example_aes
hotp/host/optee_example_hotp
secure_storage/host/optee_example_secure_storage
acipher/host/optee_example_acipher

# mhasan:
rt_io_sec/host/rt_io_sec_client
plat_rover/host/plat_rover
plat_robot_arm/host/plat_robot_arm
plat_syringe_pump/host/plat_syringe_pump
plat_flight_controller/host/plat_flight_controller
exp_smc_timing/host/exp_smc_timing 
